<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cura"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".LoginScreenActivity">
            <intent-filter >
                <action android:name="cura.connected"/>
                <action android:name="cura.notConnected"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".CuraActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/TerminalLabel"
            android:name=".Terminal.TerminalActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".FavoriteCommands"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".sysmonitor.SysMonitorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".syslog.SysLogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".syslog.LogsDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
	<activity android:name=".PreferenceScreen" android:label="@string/app_name"></activity>
        <service android:name=".Connection.ConnectionService"/>
	<service android:name=".security.SMSService"/>
	<receiver android:name=".security.BootService">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
		</intent-filter>
	</receiver>
    </application>
    	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.BROADCAST_SMS"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

</manifest>
